.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.headbox {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.row {
    margin-bottom: 10px;
}
.row > a {
    display: inline-block;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}

.login-form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

table th {
    text-align: left;
}
